In [2]:
import pandas as pd
import numpy as np

In [12]:
champs_df = pd.read_csv("TFT_Champion_CurrentVersion.csv")
items_df = pd.read_csv("TFT_Item_CurrentVersion.csv")

In [13]:
champs_df.head()

,name,cost,health,defense,attack,attack_range,attack_speed,dps,skill_name,skill_cost,origin,class
0,gangplank,5,1000,30,60,1,1.00,60,Orbital Strike,100/175,Space Pirate,"['Mercenary', 'Demolitionist']"
1,graves,1,650,35,55,1,0.55,30,Smoke Grenade,50/80,Space Pirate,['Blaster']
2,neeko,3,800,35,50,2,0.65,33,Pop Blossom,75/150,Star Guardian,['Protector']
3,darius,2,750,35,60,1,0.65,39,Space Guillotine,0/60,Space Pirate,['Mana-Reaver']
4,rakan,2,600,35,45,2,0.70,32,Grand Entrance,50/100,Celestial,['Protector']

In [14]:
items_df.head()

   id                  name
0   1            B.F. Sword
1   2           Recurve Bow
2   3  Needlessly Large Rod
3   4   Tear of the Goddess
4   5            Chain Vest